# binaries
cmd/hometab/hometab
# frontend builds
frontend/dist
# docker img builds
builds

new

# IDE
.idea

#android related
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
#/build
/captures
.externalNativeBuild
google_play_api_key.json
android-signing-keystore.jks
secrets.properties
