<h2>Devices</h2>
Devices of all users

{{range .Devices}}
    <table>
        <tr>
            <th>{{.Name}} - {{.Username}}</th>
            <th></th>
        </tr>
        <tr>
            <td>Battery</td>
            <td>{{.BatteryLeft}}%</td>
        </tr>
        <tr>
            <td>Display</td>
            <td>{{.DisplayState}}</td>
        </tr>
        <tr>
            <td>Last display ON</td>
            <td>{{formatDate .DisplayOnLastTime}}</td>
        </tr>
        <tr>
            <td>Last display OFF</td>
            <td>{{formatDate .DisplayOffLastTime}}</td>
        </tr>
    </table>
{{end}}
