<h2>TODO</h2>
<form id="newTask" method="POST">
    <input type='text' name='newTask' placeholder='{{.Inspire}}' autocomplete="off"/>
    <input type='submit' value="Add"/>
</form>

<form method="POST">
    <table>
        <thead>
        <tr>
            <th>{{.Project.Name}} ({{.TasksCount}})</th>
        </tr>
        </thead>
        <tbody>
        {{range .Tasks}}
            <tr>
                <td>
                    <details class="task">
                        <summary class="title">
                            <input type="checkbox" name="taskId" value="{{.Id}}">
                            <small>{{.Id}}</small> {{.Subject}}
                        </summary>
                        <div class="details">
                            <small>Created: {{.CreatedAt}}</small><br>
                            <small>Updated: {{.UpdatedAt}}</small>
                        </div>
                    </details>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    {{if ne .TasksCount 0 }}
        <button type="submit" name="taskAction" value="done">Done</button>
        <button type="submit" name="taskAction" value="delete">Delete</button>
        <button type="submit" name="taskAction" value="snooze">Snooze</button>
        for
        <select id="snoozeTask" name="taskSnoozeSeconds">
            <option value="86400">24h</option>
            <option value="43200">12h</option>
            <option value="21600">6h</option>
            <option value="10800">3h</option>
            <option value="3600">1h</option>
        </select>
    {{end}}
</form>