<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <style>
        .task .title {
            cursor: pointer;
            user-select: none;
        }

        .task .details {

        }
        #newTask input:not([type="checkbox"]):not([type="radio"]) {
            display:inline!important;
        }
    </style>
</head>
<body>
<h1><a href="/">TaskTab</a></h1>
<small>Keep tab on your tasks{{if .AuthOk}}, <a href="/account">{{.User.Username}}</a>{{end}}</small>
<br>
<br>
{{ yield }}
</body>
</html>