<h2>Log in</h2>
<form method="POST">
    <label for='username'>Username</label>
    {{/*    <input type='email' name='username' id='email' placeholder='john.doe@gmail.com'/>*/}}
    <input type='text' name='username' id='email' placeholder='john.doe@gmail.com'/>
    <label for='password'>Password</label>
    <input type='password' name='password' placeholder='password'/>
    <p>
        <input type='checkbox' name='remember' id='remember' checked/>
        <label for='remember'>Remember me</label>
    </p>
    <input type='submit' value="Log in"/>
    {{if .AuthFailed}}
        <br><br>
        Login failed. Try again!
    {{end}}
</form>