<div class="l-box">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <!--<li class="pure-menu-item"><a href="javascript:window.close()" class="pure-menu-link">Close</a></li>-->
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/files/page/1" class="pure-menu-link">Files</a></li>
            <li class="pure-menu-item"><a href="/files/notag/page/1" class="pure-menu-link">Files w/o tags</a></li>
            <li class="pure-menu-item"><a href="/files/random" class="pure-menu-link">Random</a></li>
            <li class="pure-menu-item"><a href="/files/random/notag" class="pure-menu-link">Random files w/o tags</a></li>
            <li class="pure-menu-item"><a href="/tags" class="pure-menu-link">Tags</a></li>
        </ul>
    </div>
</div>