<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tag list</title>
    {{ template "partials/head" }}
    {{ template "partials/thumb_style" }}
</head>
<body>
{{ template "partials/header" }}
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                {{range .}}
                <li>
                    ({{ .Overall }}) <a href="/files/tag/name/{{ .Name }}/page/1" target="_blank">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ template "partials/footer" }}
</body>
</html>