{{ template "parts/up" }}
<table>
    <thead>
    <tr>
        <th>TODO (10)</th>
    </tr>
    </thead>
    <tbody>
    {{range .Tasks}}
        <tr>
            <td>
                <details class="task">
                    <summary class="title">
                        <small>{{.Id}}</small> {{.Subject}}
                    </summary>
                    <div class="details">
                        <p>
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Done</label>
                        </p>

                        <small>Created: {{.CreatedAt}}</small>
                        <br>
                        <var>Updated: {{.UpdatedAt}}</var>
                    </div>
                </details>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>